*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:sans-serif;
    background-color: rgb(243, 241, 243);
    color:rgb(3,2,5);
}
header{
     text-align: center;
     background-color: rgb(71, 69, 69);
     color:white;
     padding:30px 20px;
     margin-bottom:30px;
}

section{
    transition:0.5s;
    background-color: white;
    margin-bottom:30px;
    padding:25px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

section:hover{
    transform:scale(1.02);
}
main{
    max-width: 800px;
    margin: auto;
}

h1{
    font-size: 32px;
}
h2{
    margin-bottom: 15px;
    color: #1e293b;
}

h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}

section ul{
    list-style-type:square;
}
section ul ul {
    list-style-type:circle;
}